body {
    background: rgba(38, 50, 56, 1);
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: repeat(9, 400px);

    .container {
        width: 98%;
        margin-left: 3%;
        margin-right: 3%;
        margin: auto;
        position: relative;
        z-index: 1;

        .canvas {
            display: block;
        }

        .error {
            color: #ff5733;
            position: absolute;
            font-size: 25px;
            z-index: 9999;
            bottom: 160px;
            left: 250px;
            font-weight: bold;
        }
    }
}
